.wrapper {
  @extend %wrapper;
}

.sound-btn {
  @extend %btn-primary;

  min-width: 60px;
  font-size: 18px;
  background-color: rgb(253 224 163);
}

.repaint-btn {
  @extend %btn-primary;

  min-width: 60px;
  font-size: 18px;
  background-color: rgb(179 189 255);
}

.btn {
  @extend %btn-primary;
}

.start-btn {
  background-color: var(--color-accent);
}

.btns {
  @extend %section-btns;
}

.input {
  @extend %text-input;

  display: flex;
  max-width: 70px;
  text-align: center;

  &::placeholder {
    opacity: 0.5;
  }
}

.label {
  font-size: 20px;
}

.duration-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;

  & label {
    font-size: 26px;
  }
}
