.option {
  display: flex;
}

.label {
  display: flex;
  width: 10%;
}

.title {
  display: flex;
  width: 70%;
}

.weight {
  display: flex;
  width: 10%;
}

.btn {
  display: flex;
  width: 10%;
}
