@mixin hidden($flag: true) {
  @if $flag == true {
    pointer-events: none;
    visibility: hidden;
  } @else if $flag == false {
    pointer-events: all;
    visibility: visible;
  }
  @content;
}

@mixin non-interactive() {
  pointer-events: none;
  user-select: none;
  @content;
}

@mixin main-transition($props: 'all') {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: #{$props};
}

// placeholders

%wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  min-width: var(--wrapper-min-width);
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
  padding: 30px 20px;
}

%btn {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  border-style: none;

  font-family: inherit;
}

%btn-primary {
  @extend %btn;

  height: 25px;
  padding: 20px;
  border-radius: var(--border-radius);

  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  color: var(--color-btn);
  text-transform: lowercase;

  background-color: var(--color-btn-bg);

  &:disabled {
    @include non-interactive {
      opacity: 0.5;
      filter: grayscale(0.2);
    }
  }
}

%text-input {
  display: flex;
  align-items: center;

  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  font-family: inherit;
  font-size: 15px;

  appearance: unset;
}

%section-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;

  width: 100%;
}
