:root {
  --color-text: rgb(31 31 31);
  --color-bg: rgb(247 247 247);
  --color-accent: rgb(206 20 104);
  --color-backdrop-bg: rgb(89 89 89 / 50%);
  --color-btn-bg: rgb(9 96 218);
  --color-btn: white;
  --border-radius: 20px;
  --color-border: rgb(219 219 219);
  --wrapper-max-width: 800px; // 1280px;
  --wrapper-min-width: 400px;
}
