.wrapper {
  @extend %wrapper;

  padding-right: 30px;
  padding-left: 30px;
  border-radius: var(--border-radius);

  background-color: white;
  box-shadow: var(--box-shaddow);
}

.btn {
  @extend %btn-primary;
}

.start-btn {
  background-color: var(--color-accent);
}

.btns {
  @extend %section-btns;

  gap: 0;
  justify-content: space-between;
}
