.wrapper {
  @extend %wrapper;

  @extend %underline;

  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  box-shadow: var(--box-shaddow);
}

.btn {
  @extend %btn-primary;
}

.start-btn {
  background-color: var(--color-accent);
}

.btns {
  @extend %section-btns;
}
