.wheel {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
}

.canvas {
  position: relative;
}

// needle
.wheel::after {
  content: '';

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  aspect-ratio: 1;
  height: var(--wheel-needle-diameter-ratio);
  border-radius: 50%;

  background-color: var(--color-wheel-needle-bg);
}

// cursor
.wheel::before {
  content: '⮜';

  position: absolute;
  z-index: 10;
  top: 0;
  transform: translate(50%, -50%) rotate(-90deg);

  font-size: 2rem;
  color: var(--color-wheel-cursor-bg);
}
